
body, h1, h2, p, ul, li, nav {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

/* Estilos del header */
header {
    background-color: #1e1e1e; 
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

/* Estilos del nav */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

header nav ul li a:hover {
    background-color: #555; 
}



#serviciosAd {
    text-align: center;
    padding: 50px 0;
}


.button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}

section {
    padding: 50px 20px;
}

section h2 {
    margin-bottom: 20px;
}

section p {
    margin-bottom: 20px;
}

section ul {
    list-style-type: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
/* Galeria */
#galeria {
    padding: 50px 20px;
}

#galeria h2 {
    margin-bottom: 20px;
}

#galeria img {
    width: 100%; 
    height: auto; 
    max-width: 300px; 
    margin-bottom: 20px;
}
/* Contacto */
#contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#contact-form h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

#contact-form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Esto ajusta el padding al tamaño total */
    font-size: 16px;
}

#contact-form textarea {
    height: 120px;
}

#contact-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 0 auto;
}

#contact-form button[type="submit"]:hover {
    background-color: #555;
}

